/* Card {
    height: 100% !important;
    position: fixed;
   
} */

.pt-3 {
    background-color:lightskyblue !important;
    width: 100%;
color: white;
}

.flush{
    
    /* min-height: 400px; */
}